#outer {
    width 80%;
    min-height: 80vh;
    margin: 0 auto;
    background: linear-gradient(#F46629 0%, #EAAA2A 45%, #47AEB7 70%, #23538A 100%);
}
#inner {
    width: 50%;
    margin: 10%;
    background: -webkit-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,0));;
    color: #ffffff;
}
#smiling {
    width: 200px;
    height: 200px;
    border: 1px solid white;
    background-image: url('../../html/img/smiley.png');
    background-size: 50%;
    background-position: center center;
    margin: 0 auto;

}
#nebula {
    width: 100%;
    color: white;
    padding: 1em;
    background-image: url('../../html/img/nebula.png');
    background-position: left top;
    background-size: cover;
    background-attachment: fixed;
}