#first,
#second,
#third {
    width: 600px;
    margin: 1em;
    padding: 0.5em;
    margin: 0 auto;
}

#first {
    border: 1px solid black;
}
#second {
    border: 10px dotted blue;
}
#third {
    border: 1px solid green;
    border-width: 3px 1px 3px 0px;
}